

.confimation__msg {
    padding-left: 50px;
    color: var(--amarelo);
}

.text__hint {
    color: var(--amarelo);
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.cardglobal__center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow__back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-top: 4px;
    color: var(--amarelo);
}

.resend__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resend__center h3 {
    font-size: 16px;
}

.resend__code__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cinza);
    border-radius: 16px;
    width: 100px;
    height: 50px;
}