.form__login {
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 

}
.label__login {
    padding: 10px;
}
.button__submit__login {
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F0DB4F;
    margin-top: 30px;
    margin-bottom: 10px;
}
.button__submit__login:hover {
    background-color: #F0DB4F;
    opacity: 0.8;
}
.input__login {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}
.input__login:focus {
    outline: none;
}

.link__register {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: #F0DB4F;
    text-decoration: none;
    margin-top: 10px;
}
.link__register:hover {
    color: #F0DB4F;
    text-decoration: underline;
}

.text__hint {
    color: #F0DB4F;
    display: flex;
    justify-content: space-around;
}