@import '../../globalStyles.module.css';

.link__register {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: var(--cinza);
    text-decoration: none;
    margin-top: 10px;
}
.link__register:hover {
    color: var(--cinza);
    text-decoration: underline;
}
.link__register:active {
    color: var(--cinza);
    text-decoration: underline;
}

.hidden__error {
    display: none;
}
.error__login {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 424px) {
    .link__register {
        margin-top: 0px;
        margin-bottom: 16px;
        padding-top: 4px;
    }
}