.main__container__card__image {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.column__card__image {
    display: flex;
    flex-direction: column;
}
.row__card__image__1 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--amarelo);

}
.row__card__image__2 {
    display: flex;
    flex-direction: row;

}
.vertical__plus__line {
    border-left: 2px solid var(--amarelo);
}