@import '../../globalStyles.module.css';

.container__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button__request {
    width: 180px;
    height: 100px;
    background-color: var(--amarelo);
    color: var(--cinza);
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}
.button__request:hover {
    background-color: var(--cinza);
    color: var(--amarelo);
    border: 1px solid var(--amarelo);
}
.button__request:active {
    background-color: var(--amarelo);
    color: var(--cinza);
    border: 1px solid black;
}

@media (max-width: 768px) {
    .container__buttons {
        flex-direction: column;
    }
}