@import '../../globalStyles.module.css';

.navbar__container {
    background-color: var(--amarelo);
}

.navbar__logo {
    width: 50px;
    height: 50px;
}

.navbar__logo__meio {
    width: 100px;
    height: 50px;
    object-fit: cover;
    margin-right: 52px;
}