@import '../../globalStyles.module.css';

.title__welcome {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #F0DB4F;
    text-align: center;
    margin: 0;
}
.status__btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

@media (max-width: 635px) {
    .title__welcome {
        font-size: 30px;
    }
}
@media (max-width: 480px) {
    .title__welcome {
        font-size: 22px;
    }
}
