@import '../../globalStyles.module.css';

.hidden__error {
    display: none;
}
.text__hint__register {
    color: var(--cinza);
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 0px;
    width: 400px;
    height: 430px;
    border-radius: 20px;
    background-color: var(--amarelo);
}

.msg__email__error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.msg__password__error {
    color: red;
    font-size: 10px;
    margin-top: 2px;
}
.msg__password__valid {
    color: green;
    font-size: 10px;
    margin-top: 2px;
}

@media (max-width: 424px) {
    .text__hint__register {
        font-size: 20px;
        padding-top: 60px;
    }
    .form__register {
        width: 250px;
        height: 300px;
    }
    .msg__email__error {
        font-size: 10px;
    }
    .msg__password__error {
        font-size: 8px;
    }
    .msg__password__valid {
        font-size: 8px;
    }
}
@media (max-width: 285px) {
    .form__register {
        width: 220px;
        height: 300px;
        padding-top: 0px;
    }
    .text__hint__register {
        padding-top: 60px;
    }
}

@media (max-width: 235px) {
    .form__register {
        width: 180px;
        height: 300px;
        padding-top: 0px;
    }
    .text__hint__register {
        padding-top: 60px;
    }
}
