@import '../../globalStyles.module.css';

.hidden__error {
    display: none;
}
.text__hint__register {
    color: var(--cinza);
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 0px;
    width: 400px;
    height: 430px;
    border-radius: 20px;
    background-color: var(--amarelo);
}

.alert__error {
    margin: 10px;
    animation: fadein ease-in-out 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 424px) {
    .text__hint__register {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .form__register {
        width: 250px;
        height: 300px;
    }
}
@media (max-width: 285px) {
    .form__register {
        width: 220px;
        height: 300px;
        padding-top: 0px;
    }
    .text__hint__register {
        padding-top: 60px;
    }
}

@media (max-width: 235px) {
    .form__register {
        width: 180px;
        height: 300px;
        padding-top: 0px;
    }
    .text__hint__register {
        padding-top: 60px;
    }
}
