@import '../../globalStyles.module.css';

.card__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



.cart__btn__fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    width: 4.3rem;
    background-color: var(--amarelo);
    color: var(--color-white);
    border: 2px solid white;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    color: var(--cinza);
}

.center__loading__circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.arrow__back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-top: 4px;
    color: var(--amarelo);
}

.clear__cart__btn {
    margin-left: 50px;
    background-color: var(--amarelo);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 16px;
}

.clear__cart__btn:hover {
    background-color: var(--cinza);
    border: 2px solid var(--amarelo);
    color: var(--amarelo);
    cursor: pointer;
}

.clear__cart__btn:active {
    background-color: var(--cinza);
    border: 2px solid var(--amarelo);
    color: var(--amarelo);
    cursor: pointer;
}

